[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
tox-pipenv = "*"
pytest = "*"
pytest-cov = "*"
pytest-runner = "*"
mccabe = "*"
flake8 = "*"
coverage = "*"
coveralls = "*"
codecov = "*"
check-manifest = "*"
unittest2 = "*"
pyicu-binary = "*"

[packages]

[requires]
python_version = "3.7"
